.header-menu {
    position: relative;
}

.header-menu ul.sub-menu {
    display: none;
    /* display: block; */
    position: absolute;
    top: 16px;
    background-color: rgb(255, 255, 255);
    width: 180px;
}

.header-menu ul.sub-menu li {
    margin: 12px 0px;

}
.header-menu ul.sub-menu li:first-child{
    padding-top: 14px;
}
.header-menu li.hello:hover ul.sub-menu {
    display: block;
}